$spacing: (
	"xs": 0.25rem,
	"sm": 0.5rem,
	"md": 1rem,
	"lg": 2rem,
	"xl": 4rem,
);

@each $key, $value in $spacing {
	.m-#{$key} {
		margin: $value;
	}
	.p-#{$key} {
		padding: $value;
	}
}

$colors: (
	"black": rgb(33, 33, 33),
	"black-75": rgba(33, 33, 33, 0.75),
	"black-50": rgba(33, 33, 33, 0.5),
	"black-25": rgba(33, 33, 33, 0.25),
	"white": rgb(247, 247, 247),
	"white-75": rgba(247, 247, 247, 0.75),
	"white-50": rgba(247, 247, 247, 0.5),
	"white-25": rgba(247, 247, 247, 0.25),
);

@each $key, $value in $colors {
	.color-#{$key} {
		color: $value;
	}
	.background-#{$key} {
		background-color: $value;
	}
}
