@import "../responsive";

//border width

$border-sizes: (
	"0": 0px,
	"1": 1px,
	"2": 2px,
	"3": 3px,
	"4": 4px,
);

@each $key, $value in $border-sizes {
	@include responsive("border-" + $key) {
		border-width: $value;
	}
	@include responsive("border-top-" + $key) {
		border-top-width: $value;
	}
	@include responsive("border-bottom-" + $key) {
		border-bottom-width: $value;
	}
	@include responsive("border-right-" + $key) {
		border-right-width: $value;
	}
	@include responsive("border-left-" + $key) {
		border-left-width: $value;
	}
	@include responsive("border-x-" + $key) {
		border-right-width: $value;
		border-left-width: $value;
	}
	@include responsive("border-y-" + $key) {
		border-top-width: $value;
		border-bottom-width: $value;
	}
}
