//border radius

$border-radius-options: (
	"noround": 0,
	"round-xs": 0.125rem,
	"round-sm": 0.25rem,
	"round-md": 0.375rem,
	"round-lg": 0.5rem,
	"round-xl": 0.75rem,
	"round-2xl": 1rem,
	"round-3xl": 1.5rem,
	"circle": 50%,
);

@each $key, $value in $border-radius-options {
	.border-#{$key} {
		border-radius: $value;
	}
	.border-top-#{$key} {
		border-top-left-radius: $value;
		border-top-right-radius: $value;
	}
	.border-bottom-#{$key} {
		border-bottom-left-radius: $value;
		border-bottom-right-radius: $value;
	}
	.border-right-#{$key} {
		border-top-right-radius: $value;
		border-bottom-right-radius: $value;
	}
	.border-left-#{$key} {
		border-top-left-radius: $value;
		border-bottom-left-radius: $value;
	}
}
