$sizes: (
	"0": 0,
	"25": 25%,
	"50": 50%,
	"75": 75%,
	"100": 100%,
	"auto": auto,
	"1rem": 1rem,
	"2rem": 2rem,
	"3rem": 3rem,
	"4rem": 4rem,
	"5rem": 5rem,
	"6rem": 6rem,
	"7rem": 7rem,
	"8rem": 8rem,
	"9rem": 9rem,
	"10rem": 10rem,
	"11rem": 11rem,
	"12rem": 12rem,
	"13rem": 13rem,
	"14rem": 14rem,
	"15rem": 15rem,
	"16rem": 16rem,
	"17rem": 17rem,
	"18rem": 18rem,
	"19rem": 19rem,
	"20rem": 20rem,
	"21rem": 21rem,
	"22rem": 22rem,
	"23rem": 23rem,
	"24rem": 24rem,
	"25rem": 25rem,
	"26rem": 26rem,
	"27rem": 27rem,
	"28rem": 28rem,
	"29rem": 29rem,
	"30rem": 30rem,
);

$pixel-width-options: (
	"3840": 3840px,
	"2560": 2560px,
	"1920": 1920px,
	"1680": 1680px,
	"1600": 1600px,
	"1440": 1440px,
	"1366": 1366px,
	"1280": 1280px,
	"1024": 1024px,
);

$pixel-height-options: (
	"2160": 2160px,
	"1440": 1440px,
	"1080": 1080px,
	"1050": 1050px,
	"1024": 1024px,
	"900": 900px,
	"800": 800px,
	"768": 768px,
);

$height-options: map-merge($sizes, $pixel-height-options);
$width-options: map-merge($sizes, $pixel-width-options);
