@import "../color";
@import "../responsive";

//text color

@each $key, $value in $colors {
	@include responsive("text-" + $key) {
		color: $value;
	}
	@include responsive("text-" + $key + "-75") {
		color: rgba($value, 0.75);
	}
	@include responsive("text-" + $key + "-50") {
		color: rgba($value, 0.5);
	}
	@include responsive("text-" + $key + "-25") {
		color: rgba($value, 0.25);
	}
}
