@import "../responsive";

// overflow

$overflow-options: (
	"auto": auto,
	"hidden": hidden,
	"visible": visible,
	"scroll": scroll,
);

@each $key, $value in $overflow-options {
	@include responsive("overflow-" + $key) {
		overflow: $value;
	}
	@include responsive("overflow-x-" + $key) {
		overflow-x: $value;
	}
	@include responsive("overflow-y-" + $key) {
		overflow-y: $value;
	}
}
