@import "../responsive";

// placement

$placement-options: (
	"auto": auto,
	"0": 0,
	"50": 50%,
	"100": 100%,
);

@each $key, $value in $placement-options {
	@include responsive("top-" + $key) {
		top: $value;
	}
	@include responsive("bottom-" + $key) {
		bottom: $value;
	}
	@include responsive("right-" + $key) {
		right: $value;
	}
	@include responsive("left-" + $key) {
		left: $value;
	}
}
