// placement

$placement-options: (
	"auto": auto,
	"0": 0,
	"50": 50%,
	"100": 100%,
);

@each $key, $value in $placement-options {
	.top-#{$key} {
		top: $value;
	}
	.bottom-#{$key} {
		bottom: $value;
	}
	.left-#{$key} {
		left: $value;
	}
	.right-#{$key} {
		right: $value;
	}
}
